@model IEnumerable<Wasit.Services.ViewModels.EstateSettings.EstateTypeViewModel>
@{
    ViewData["Title"] = "انواع العقارات";
}
<style>
    .input-wrapper {
        margin: unset;
    }
</style>

<div class="add d-flex justify-content-end float-left mb-2">
    <a class="main-btn w-auto" asp-action="Create">اضافة نوع</a>
</div>
<table id="" class="data-table responsive nowrap" width="100%">
    <thead>
        <tr class="table-head">
            <th class="text-center p-3">اسم النوع باللغة العربية</th>
            <th class="text-center"> اسم النوع باللغة الانجليزية</th>
            <th class="text-center">الاقسام</th>
            <th class="text-center"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table-row">
                <td>@item.NameAr </td>
                <td>@item.NameEn</td>
                <td>@item.Categories</td>
                <td class="text-center">
                    <div class="d-flex gap-3 justify-content-center">
                        <a asp-controller="EstatesSettings" asp-action="EstateTypeSpecifications" asp-route-id="@item.Id" class="sent-btn">الخصائص</a>
                        <a asp-controller="EstatesSettings" asp-action="Update" asp-route-id="@item.Id" class="edit-btn">تعديل</a>
                        <button class="delete-btn" data-bs-toggle="modal" data-bs-target="#delete" onclick="PassId('@item.Id')">حذف</button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>



<!--filter Modal Start -->
<div class="modal fade" id="filter" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="filterLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-bold font-b" id="filterLabel">فلتر البحث</h5>
                <button type="button" class="btn-close m-0" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label for="categories" class="my-2 font-b">القسم</label>
                <select name="category[]" id="categories" class="select2" asp-items="@ViewBag.Categories">
                    <option selected hidden>اختر قسم</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="secondary-btn w-100 py-3" onclick="Filter()">بحث</button>
            </div>
        </div>
    </div>
</div>
<!--filter modal End-->

<!--delete Modal Start -->
<div class="modal fade" id="delete" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="filterLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-bold font-b" id="filterLabel">حذف نوع العقار</h5>
                <button type="button" class="btn-close m-0" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <p class="font-xs">هل تريد حذف نوع العقار</p>
            </div>
            <div class="modal-footer">
                <span hidden></span>
                <button type="button" class="secondary-btn w-100 py-3" onclick="Remove(this)">تأكيد حذف نوع العقار</button>
            </div>
        </div>
    </div>
</div>
<!--delete modal End-->


@section scripts {
    <script>
        $(document).ready(function () {
            $(".dt-search input").attr("placeholder", `بحث بالاسم - القسم`);
            $(".dt-search input").wrap("<div class='input-wrapper'></div>");
            $(".input-wrapper").append("<div class='filter-icon' data-bs-toggle='modal' data-bs-target='#filter'><img src='../imgs/filter.png'></div>");
            // $('.filter-icon').on('shown.bs.modal', function (e) {
            //     $('body').removeClass('modal-open');
            //     $('.main-section').addClass('modal-open');
            //})
        });


        function PassId(estateTypeId) {
            $('#delete span').text(estateTypeId);
        }


        function Filter(){
            var id = $('#categories').val();
            $('#filter').modal('hide');
            window.location.href = `/EstatesSettings/Types?categoryId=${id}`
        }

        function Remove(btn) {
            $(btn).attr('disabled', true);
            var estateTypeId = $(btn).siblings('span').text();
            $("#delete").modal('hide');
            $.ajax({
                url: "/EstatesSettings/Remove",
                type: "DELETE",
                dataType: "json",
                data: {
                    estateTypeId: estateTypeId
                },
                success: function (result) {
                    toastr.success('تم حذف نوع العقار بنجاح');
                    setInterval(function () { window.location.href = "/EstatesSettings/Types" }, 2000);
                },
                failure: function (info) {
                    toastr.error('حدث خطأ ما');
                }
            });
        }
    </script>
}